body {
    margin: 0%;
    font-family: 'Calibri';
}
.tabela{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "caixa1 cabeça"
    "caixa1 caixa2"
    "caixa1 digitar";
    grid-template-rows: 60px 37em 112px;
    grid-template-columns: 220px auto;
}
.cabeca {
    border-style: none;
    border-collapse: collapse;
}
.pontilhado {
    color: #3f0e40;
}
.sininho {
    text-align: right;
}
.mais {
    text-align: right;
}
.apps, .canais, .tags {
    font-size: 13pt;
}
.apps a, .canais a, .tags a {
    color: #c5b7c6;
}
.has {
    color: #8b728c;
}
.escuro a {
    color: #8f728c;
}
.hasescuro {
    color: #765376;
}
.tags tr {
    width: 100%;
}
.selecionada {
    background-color: #1164a3
}
.selecionada a {
    color: white;
}
.apps tr:hover, .canais:hover, .tags tr:hover, .cabeca:hover {
    background-color: rgb(53, 13, 54);
}
.cabeça {
    padding-left: 1.8%;
    margin-right: 2%;
    grid-area: cabeça;
    background-color: white;
}
.caixa1 {
    grid-area: caixa1;
    color: #c5b7c6;
    background-color: #3f0e40;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    text-align: justify;
    line-break: normal;
}
.unifilcomp {
    font-size: 16pt;
    color: white;
}
.nomemeu {
    text-align: left;
}
.dot {
    color: #2bac76;
    font-size: 15pt;
}
.caixa2 {
    height: 100%;
    grid-area: caixa2;
    overflow-y: scroll;
    background-color: white;
}
.digitar {
    grid-area: digitar;
    background-color: white;
}
.texto1 {
    border-style: none;
    background-color: #5c325c;
    color: white;
    padding: 5%;
    font-size: 13pt;
    font-family: 'Calibri';
    height: 30px;
    width: 190px;
}
.texto2 {
    padding: 2%;
    font-size: 13pt;
    font-family: 'Calibri';
    border-color: lightgray;
    color: black;
    border-style: solid;
    height: 20px;
    width: 200px;
}
.texto3 {
    font-size: 10pt;
    font-family: 'Calibri';
    border-style: none;
    height: 10px;
    width: 125px;
}
.texto {
    font-size: 13pt;
    border-style: solid;
    border-color: lightgray;
    font-family: 'Calibri';
    color: black;
    margin-left: 1.8%;
    margin-right: 2%;
    width: 95%;
    height: 70px;
}
.cab {
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.direita {
    text-align: right;
    font-size: 16pt;
}
.npi {
    font-size: 16pt;
}
.direita a {
    color: black;
}
.linha2 a {
    color: black;
}
.arroba:hover {
    color: red;
}
.pontinhos:hover {
    color: blue;
}
.star:hover {
    color: yellow;
}
dd {
    padding-left: 0%;
    margin-left: 2%;
}
dt {
    color: black;
    text-align: center;
    padding: 1px;
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray; 
    line-height: 0.5em;
    margin: 20px 0 20px;
}
.date {
    background:#fff;
    padding :0 10px;
}
.mensagens {
    display: grid;
    width: 100%;
    margin: 0%;
    font-size: 12.5pt;
}
.hrs {
    font-size: 10pt;
    color: grey;
    width: 100%;
}
.user {
    width: 10%;
}
.user1 {
    width: 20%;
}
.mensag1 {
    text-align: left;
    color: gray;
}
a {
    text-decoration: none;
    font-weight: none;
}
.mensag1 a {
    color: gray;
}
.mensag1 a:hover {
    color: blue;
    text-decoration: underline;
}
.mensag2 {
    line-height: 1.2;
}
.user1 a {
    color: black;
}
.user1 a:hover {
    text-decoration: underline;
}
.user a {
    color: black;
}
.user a:hover {
    text-decoration: underline;
}
.linha:hover {
    background-color: lightgray;
}